{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		
		<div class="alert alert-danger" role="alert" style="display: none;" id="error"><span id="addError"></span> cannot be empty</div>
		<div class="row">
			<div class="col-md-push-3 col-md-3">
				<h2>Track Easy</h2>
			</div>
			<div class="pull-right">
				<span>Services</span>
				<div class="dropdown">
					<button id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="btn btn-default">
						All
						<span class="caret"></span>
					</button>

					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><a href="#">Rent</a></li>
						<li><a href="#">Buy</a></li>
						<li><a href="#">PG</a></li>
						<li><a href="#">Service Apartments</a></li>
						<li><a href="#">Rental Agreement</a></li>
						<li><a href="#">Home Loans</a></li>
						<li><a href="#">Rent or Sell</a></li>
						<li><a href="#">Agents</a></li>
						<!-- <li class="divider"></li>
						<li><a href="#">Separated link</a></li> -->
					</ul>
				</div>
			</div>
		</div>

	</div>
	<br>
	<div class="text-center col-md-8">
		<button class="btn btn-lg btn-danger" data-toggle="modal" data-target="#myModal">Add</button>
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">
					
					<div class="col-md-6">
						<p> Event Category </p>
						<input class="form-control"  id="ec">
					</div>
					<div class="col-md-6">
						<p> Event Action </p>
						<input class="form-control" >
					</div>
					<br>
					<br>
					<br>
					<div class="col-md-6">
						<br>
						<p> Service </p>
						<input class="form-control" >
					</div>
					<div class="col-md-6">
						<br>
						<p> Event Label </p>
						<input class="form-control" >
					</div>
				</div>
				<div class="modal-footer">
					<br>
					<br>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>

	<br>
	<div class="row" style="padding-top: 50px;">

		<div class="col-md-8">
			<div class="col-md-6">
				<p> Event Category </p>
				<input class="form-control" disabled id="ec">
			</div>
			<div class="col-md-6">
				<p> Event Action </p>
				<input class="form-control" disabled>
			</div>
			<br>
			<br>
			<br>
			<div class="col-md-6">
				<br>
				<p> Service </p>
				<input class="form-control" disabled>
			</div>
			<div class="col-md-6">
				<br>
				<p> Event Label </p>
				<input class="form-control" disabled>
			</div>



		</div>

		<div class="col-md-4">
			<input type="checkbox" style="margin-top: 75px;">&nbsp;&nbsp;&nbsp;
			<button class="btn btn-primary">PA Confirm</button>

		</div>
		
	</div>

	<br>
	<div class="row" style="padding-top: 50px;">

		<div class="col-md-8">
			<div class="col-md-6">
				<p> Event Category </p>
				<input class="form-control" disabled id="ec">
			</div>
			<div class="col-md-6">
				<p> Event Action </p>
				<input class="form-control" disabled>
			</div>
			<br>
			<br>
			<br>
			<div class="col-md-6">
				<br>
				<p> Service </p>
				<input class="form-control" disabled>
			</div>
			<div class="col-md-6">
				<br>
				<p> Event Label </p>
				<input class="form-control" disabled>
			</div>



		</div>

		<div class="col-md-4">
			<input type="checkbox" style="margin-top: 75px;">&nbsp;&nbsp;&nbsp;
			<button class="btn btn-primary">PA Confirm</button>

		</div>
		
	</div>

	<br>
	<div class="row" style="padding-top: 50px;">

		<div class="col-md-8">
			<div class="col-md-6">
				<p> Event Category </p>
				<input class="form-control" disabled id="ec">
			</div>
			<div class="col-md-6">
				<p> Event Action </p>
				<input class="form-control" disabled>
			</div>
			<br>
			<br>
			<br>
			<div class="col-md-6">
				<br>
				<p> Service </p>
				<input class="form-control" disabled>
			</div>
			<div class="col-md-6">
				<br>
				<p> Event Label </p>
				<input class="form-control" disabled>
			</div>



		</div>

		<div class="col-md-4">
			<input type="checkbox" style="margin-top: 75px;">&nbsp;&nbsp;&nbsp;
			<button class="btn btn-primary">PA Confirm</button>

		</div>
		
	</div>





	<!-- <div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">Apply Filters</div>
			<div class="panel-body">
				<div class="col-md-6">
					<div class="col-md-3">
						<span>Select Service</span>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<br>
	<div class="row">
		<div class="text-center">
		</div>
	</div>
	<br>
	<br>
	<div class="col-md-2">
	</div>
	<br>
	<br>
	<div id="allData" style="display:none">
		<div class="row">
			<h2>
				Unique Users
				<span id="channelActive"></span>
			</h2>
			<br>
			<div class="col-md-6">
				<div id="chart"></div>
			</div>
			<div class="col-md-5">
				<div id="donutChart" class="donutChart"></div>
			</div>
			<div class="col-md-1" style="margin-top: 120px;">
				<button class="btn btn-danger resetUniqueUsers">All Channels</button>
			</div>
		</div>
		<div class="row">
			<h2>
				OCRF Conversion
				<span id="channelConversion"></span>
				<span class="glyphicon glyphicon-question-sign black-tooltip" style="font-size: 18px;" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-html="true" title="<html>
					<p>Definition</p>
					<ul style='padding-left:15px;text-align:left;'>
						<li>For Desktop:  open_crf </li>
						<li>For Mobile:   open_crf + calls</li>
					</ul>
					</html>" id="questionMark"></span>
				</h2>
				<br>
				<div class="col-md-6">
					<div id="chartConversion"></div>
				</div>
				<div class="col-md-5">
					<div id="donutChartConversion" class="donutChartConversion"></div>
				</div>
				<div class="col-md-1" style="margin-top: 120px;">
					<button class="btn btn-danger resetConversion">All Channels</button>
				</div>
			</div>
			<div class="row">
				<h2>
					Total OCRF
					<span id="channelContactRequests"></span>
				</h2>
				<br>
				<div class="col-md-6">
					<div id="chartContactRequests"></div>
				</div>
				<div class="col-md-5">
					<div id="donutChartContactRequests" class="donutChartContactRequests"></div>
				</div>
				<div class="col-md-1" style="margin-top: 120px;">
					<button class="btn btn-danger resetContactRequests">All Channels</button>
				</div>
			</div>
			<div class="row">
				<h2>
					User Engagement
					<span id="channelUserEngagement"></span>
					<span class="glyphicon glyphicon-question-sign black-tooltip" style="font-size: 18px;" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-html="true" title="<html>
						<p>Legend</p>
						<ul style='padding-left:15px;text-align:left;'>
							<li>Level 0 : No Interaction</li>
							<li>Level 1 : Filters</li>
							<li>Level 2 : Infowindow</li>
							<li>Level 3 : Forms</li>
						</ul>
						</html>" id="ocrf-conversion"></span>

					</h2>
					<br>
					<div class="col-md-6">
						<div id="chartUserEngagement"></div>
					</div>
					<div class="col-md-5">
						<div id="donutChartUserEngagement" class="donutChartUserEngagement"></div>
					</div>
					<div class="col-md-1" style="margin-top: 120px;">
						<button class="btn btn-danger resetUserEngagement">All Channels</button>
					</div>
				</div>

			</div>

	<!-- <div class="row">
		<h2>Registered Users</h2>
		<br>
		<div class="col-md-6">
			<div id="chartRegisteredUsers"></div>
		</div>
		<div class="col-md-6">
			<div id="donutChartRegisteredUsers" class="donutChartRegisteredUsers"></div>
		</div>
	</div>
	<div class="row">
		<h2>Live Listings</h2>
		<br>
		<div class="col-md-6">
			<div id="chartLiveListings"></div>
		</div>
		<div class="col-md-6">
			<div id="donutChartLiveListings" class="donutChartLiveListings"></div>
		</div>
	</div> -->
</div>
{% endblock %}